# Security & Secrets
backend/.env
**/.env
.env.local
git_token

# Python Environments
backend/venv/
backend/__pycache__/
*.pyc

# Node & Frontend
frontend-react/node_modules/
frontend-react/dist/

# Local Database & Storage
backend/*.db
backend/*.sqlite3
minio-data/

# Media & Assets
marketing-photos/

# OS Files
.DS_Store
