AWS_STORAGE_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=

DATABASE_URL=
JWT_SECRET=
ADMIN_PASSWORD=fuccamazon

CJ_API_KEY=

# --- SMTP EMAIL CONFIGURATION ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=admin@streetcode101.com
SMTP_PASS=

STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=

